    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who Am I?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style="font;color:black">Saya mahasiswa <a href="http://uin-suska.ac.id">UIN SUSKA RIAU</a>, sedang mengambil program studi <a href="http://sif.uin-suska.ac.id">SISTEM INFORMASI</a> di FAKULTAS SAINS DAN TEKNOLOGI. Saya suka mempelajari sesuatu hal yang baru termasuk bermain <a href="http://blog.dota2.com/">DOTA 2</a>.</p>
                </div>
            </div>
        </div>
    </section>
